<script type ="text/javascript">
  var api_key = '<%= @api_key %>';
  var api_secret = '<%= @api_secret %>';
  var session_id = '<%= @session_id %>';
  var token = '<%= @token %>';
  var name = '<%= @name %>';

  // reload page to render with variables
  (function() {
    if(window.localStorage) {
      if(!localStorage.getItem('firstLoad')) {
        localStorage['firstLoad'] = true;
        window.location.reload();
    } else
      localStorage.removeItem('firstLoad');
    }
  })();
</script>

<div class="container-fluid">
  
  <!-- HEADER -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand"> 转 砖  コ</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">转</a>
        <a href="#" id="watch-mode" class="nav-item nav-link">WATCH MODE ON/OFF</a>
      </div>
    </div>
  </nav>

  <!-- BODY -->

  <div class="container-fluid w-100 h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="videos col-8 align-self-center">
      <div id="publisher"></div>
      <div id="subscribers"></div> 
      <div id="screenshare"></div>
    </div>
    <div class="col-4 align-right">
      <p id="history"></p>
      <%= form_with(url: "/chat/send", method: "post") do %>
        <%= text_field_tag :message, nil, placeholder: '注 砖 注专转 ' %>
        <%= submit_tag("砖") %>
      <% end %>
    </div>
  </div>  
</div>


