<!DOCTYPE html>
<html>
  <head>
    <title>VideoWatchParty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
